<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="..\..\NugetArtifactsInstalled" />
  </config>
  <fallbackPackageFolders>
      <clear />
  </fallbackPackageFolders>
  <packageSources>
    <clear/>
    <add key="local-built-packages" value="..\..\NuGetArtifacts" />
  </packageSources>
  <disabledPackageSources>
      <clear />
  </disabledPackageSources>
</configuration>
