<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://nugetpush.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>nugetpush.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>nugetpush</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$nugetpush</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="StorageConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=nugetjohtaylo;AccountKey=S53ggWvJVjObUe+eDHKQ/UXsOldhwzYaxBFPrEwnGcZSfpuDpaRwygWpb4xNf/Ky3ZJLckfqSBOZviHMwJ08pQ==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StorageConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=nugetjohtaylo;AccountKey=S53ggWvJVjObUe+eDHKQ/UXsOldhwzYaxBFPrEwnGcZSfpuDpaRwygWpb4xNf/Ky3ZJLckfqSBOZviHMwJ08pQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PackageStaging" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:abouvt7mtw.database.windows.net;Initial Catalog=PackageStaging;Persist Security Info=True;User ID=johtaylo@abouvt7mtw;Password=Redmond!12" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:abouvt7mtw.database.windows.net;Initial Catalog=PackageStaging;Persist Security Info=True;User ID=johtaylo@abouvt7mtw;Password=Redmond!12" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PackageStaging_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:abouvt7mtw.database.windows.net;Initial Catalog=PackageStaging;Persist Security Info=True;User ID=johtaylo@abouvt7mtw;Password=Redmond!12" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PackageStaging-Web.config Connection String">
      <ParameterValue>Data Source=tcp:abouvt7mtw.database.windows.net;Initial Catalog=PackageStaging;Persist Security Info=True;User ID=johtaylo@abouvt7mtw;Password=Redmond!12</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StorageConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>