<p>
    <a href="http://www.dotnetfoundation.org"><img src="~/images/dnf.png" alt=".NET Foundation" style="border-width:0" /></a>
</p>
<p>
    &copy; 2011-@DateTime.UtcNow.Year .NET Foundation - @Html.ActionLink("Terms of Use", "Terms", "Pages") - @Html.ActionLink("Privacy Policy", "Privacy", "Pages")
</p>